<a href="https://colab.research.google.com/github/bhar-gav/topic-specific-analysis-of-sentences/blob/main/data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
from google.colab import drive
drive.mount("/content/drive")

import os
print(os.getcwd())
atasets="/content/drive/My Drive/Colab Notebooks/final-year/sentence-analysis/"
print(os.getcwd())

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/My Drive/Colab Notebooks/final-year/sentence-analysis
/content/drive/My Drive/Colab Notebooks/final-year/sentence-analysis

**DATASET 1 : us-general-debates (1989-2015)**

In [43]:
import pandas as pd

df1=pd.read_csv("datasets/un-general-debates.csv")
df2=pd.read_json("datasets/science-articles.json")
df3=pd.read_json("datasets/environment-articles.json")

dfs=[df1,df2,df3]

In [44]:

for i, df in enumerate(dfs, start=1):
    print(f"DATASET {i} Information:")

    print("\nHead:")
    print(df.head())

    print("\nShape:")
    print(df.shape)

    print("\nSummary statistics:")
    print(df.describe())

    print("\nMissing value check:")
    print(df.isnull().sum())

    print("\nData types:")
    print(df.dtypes)

    print("\nInfo:")
    print(df.info())

    print("\n" + "="*50 + "\n")  #  separator for better readability

DATASET 1 Information:

Head:
   session  year country                                               text
0       44  1989     MDV  ﻿It is indeed a pleasure for me and the member...
1       44  1989     FIN  ﻿\nMay I begin by congratulating you. Sir, on ...
2       44  1989     NER  ﻿\nMr. President, it is a particular pleasure ...
3       44  1989     URY  ﻿\nDuring the debate at the fortieth session o...
4       44  1989     ZWE  ﻿I should like at the outset to express my del...

Shape:
(7507, 4)

Summary statistics:
           session         year
count  7507.000000  7507.000000
mean     49.610763  1994.610763
std      12.892155    12.892155
min      25.000000  1970.000000
25%      39.000000  1984.000000
50%      51.000000  1996.000000
75%      61.000000  2006.000000
max      70.000000  2015.000000

Missing value check:
session    0
year       0
country    0
text       0
dtype: int64

Data types:
session     int64
year        int64
country    object
text       object
dtype: object

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7507 entries, 0 to 7506
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   session  7507 non-null   int64
 1   year     7507 non-null   int64
 2   country  7507 non-null   object
 3   text     7507 non-null   object
dtypes: int64(2), object(2)
memory usage: 234.7+ KB
None

==================================================

DATASET 2 Information:

Head:
                                                link  \
0  https://www.huffpost.com/entry/fuel-leak-ruins...
1  https://www.huffpost.com/entry/nasa-artemis-mo...
2  https://www.huffpost.com/entry/china-rocket-de...
3  https://www.huffpost.com/entry/arthurs-stone-e...
4  https://www.huffpost.com/entry/james-webb-spac...

                                            headline category  \
0  Fuel Leak Ruins NASA's 2nd Shot At Launching N...  SCIENCE
1  'Safety Is Always First': NASA Reschedules Art...  SCIENCE
2  Chinese Rocket Debris Makes Out-Of-Control Fal...  SCIENCE
3  Ancient Tomb Linked By Legend To King Arthur T...  SCIENCE
4  ‘Galaxy Gazing Is The New Stargazing’: Cosmolo...  SCIENCE

                                   short_description          authors  \
0  Part of the space agency's Artemis program, th...  Marcia Dunn, AP
1  “We’re going to play all nine innings here,” t...      Nick Visser
2  Video shows people apparently spotting the roc...     Ben Blanchet
3  Experts already believe the site served as mor...         Ed Mazza
4            "It's going to be fun, this telescope."      Nick Visser

        date                                       article_text
0 2022-09-03  CAPE CANAVERAL, Fla. (AP) — NASA’s new moon ro...
1 2022-08-30  Senior Reporter, HuffPost NASA rescheduled the...
2 2022-07-31   Debris from a colossal Chinese rocket made an...
3 2022-07-13  Overnight Editor, HuffPost An ancient tomb in ...
4 2022-07-12  Senior Reporter, HuffPost Cosmologists and ast...

Shape:
(2206, 7)

Summary statistics:
                                date
count                           2206
mean   2014-11-14 06:47:58.694469632
min              2012-01-28 00:00:00
25%              2013-07-21 00:00:00
50%              2014-11-14 12:00:00
75%              2015-12-30 00:00:00
max              2022-09-03 00:00:00

Missing value check:
link                  0
headline              0
category              0
short_description     0
authors               0
date                  0
article_text         78
dtype: int64

Data types:
link                         object
headline                     object
category                     object
short_description            object
authors                      object
date                 datetime64[ns]
article_text                 object
dtype: object

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2206 entries, 0 to 2205
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   link               2206 non-null   object
 1   headline           2206 non-null   object
 2   category           2206 non-null   object
 3   short_description  2206 non-null   object
 4   authors            2206 non-null   object
 5   date               2206 non-null   datetime64[ns]
 6   article_text       2128 non-null   object
dtypes: datetime64[ns](1), object(6)
memory usage: 120.8+ KB
None

==================================================

DATASET 3 Information:

Head:
                                                link  \
0  https://www.huffpost.com/entry/oil-gas-coal-re...
1  https://www.huffpost.com/entry/bc-us-alaska-co...
2  https://www.huffpost.com/entry/tropical-storm-...
3  https://www.huffpost.com/entry/jackson-water-c...
4  https://www.huffpost.com/entry/bc-us-californi...

                                            headline     category  \
0  First Public Global Database Of Fossil Fuels L...  ENVIRONMENT
1  Alaska Prepares For 'Historic-Level' Storm Bar...  ENVIRONMENT
2  Puerto Rico Braces For Landslides And Severe F...  ENVIRONMENT
3  Privatization Isn’t The Answer To Jackson’s Wa...  ENVIRONMENT
4  Severe Winds Batter Southern California As Hea...  ENVIRONMENT

                                   short_description  \
0  On Monday, the world’s first public database o...
1  “In 10 years, people will be referring to the ...
2  Puerto Rico was under a hurricane watch Saturd...
3  Studies have repeatedly shown that ending publ...
4  After a 10-day heat wave that nearly overwhelm...

                                            authors       date  \
0                                  Drew Costley, AP 2022-09-18
1  BECKY BOHRER, MARK THIESSEN and JOHN ANTCZAK, AP 2022-09-17
2                                   DÁNICA COTO, AP 2022-09-17
3                                 Nathalie Baptiste 2022-09-17
4                 JULIE WATSON and JOHN ANTCZAK, AP 2022-09-10

                                        article_text
0  A first-of-its-kind database for tracking the ...
1  JUNEAU, Alaska (AP) — Residents on Alaska’s va...
2  HAVANA (AP) — Tropical Storm Fiona threatened ...
3  After heavy rains flooded its main water plant...
4  SAN DIEGO (AP) — Parts of Southern California ...

Shape:
(1444, 7)

Summary statistics:
                                date
count                           1444
mean   2013-11-19 14:19:36.731301888
min              2012-01-28 00:00:00
25%              2012-10-06 18:00:00
50%              2013-06-02 00:00:00
75%              2013-11-28 06:00:00
max              2022-09-18 00:00:00

Missing value check:
link                   0
headline               0
category               0
short_description      0
authors                0
date                   0
article_text         205
dtype: int64

Data types:
link                         object
headline                     object
category                     object
short_description            object
authors                      object
date                 datetime64[ns]
article_text                 object
dtype: object

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1444 entries, 0 to 1443
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   link               1444 non-null   object
 1   headline           1444 non-null   object
 2   category           1444 non-null   object
 3   short_description  1444 non-null   object
 4   authors            1444 non-null   object
 5   date               1444 non-null   datetime64[ns]
 6   article_text       1239 non-null   object
dtypes: datetime64[ns](1), object(6)
memory usage: 79.1+ KB
None

==================================================